National Longitudinal Study of Adolescent to Adult Health (Add Health), 1994-2008 [Public Use] (ICPSR 21600)
Principal Investigator(s):  Harris, Kathleen Mullan, University of North Carolina-Chapel Hill; Udry, J. Richard, University of North Carolina-Chapel Hill

The National Longitudinal Study of Adolescent to Adult Health (Add Health), 1994-2008 [Public Use] is a longitudinal study of a nationally representative sample of U.S. adolescents in grades 7 through 12 during the 1994-1995 school year. The Add Health cohort was followed into young adulthood with four in-home interviews, the most recent conducted in 2008 when the sample was aged 24-32. Add Health combines longitudinal survey data on respondents' social, economic, psychological, and physical well-being with contextual data on the family, neighborhood, community, school, friendships, peer groups, and romantic relationships.

This is a Juptyper notebook coded in R. This notebook demonstrates how to use Jupyter capabilities to create an interactive notebook.

To load the data set from a .tsv fil, use read.table from the read.csv library.

In [2]:
Wave_one_data <- read.table(file= "21600-0001-Data.tsv", header= TRUE, sep = "\t", na.string= "NA", as.is=T)

The "head" function returns the first parts of a vector, matrix, data frame, or table. Use this funtion to check the format of your data without loading all of the data. Note: here "NA's" are encooded as NA's but can be coded as 0's or any extreme values such as negatives.

In [3]:
head(Wave_one_data)

  AID      IMONTH IDAY IYEAR SCH_YR BIO_SEX VERSION SMP01 SMP03 H1GI1M ... PD4A
1 57100270 6      23   95    1      2       4       0     1     10     ...  7
2 57101310 5       5   95    1      2       1       1     0     11     ... NA
3 57103171 6      27   95    0      1       4       1     0     10     ...  7
4 57103869 7      14   95    0      1       4       1     0      1     ...  7
5 57104553 7      14   95    1      2       4       1     0      6     ...  7
6 57104649 6      12   95    1      1       3       0     1     12     ...  7
  PD4B PD4C PD4D PD4E PD4F PD5 PD5A AH_PVT AH_RAW
1  7    7    7    7    7    1   1    86    55
2 NA   NA   NA   NA   NA   NA  NA    88    58
3  7    7    7    7    7    1   0   120    79
4  7    7    7    7    7   NA  NA    85    56
5  7    7    7    7    7    1   0    90    59
6  7    7    7    7    7    1   0    99    60

To compute raw frequencies for the "Month" variable : call the table function with the "Month" variable. The table function generates frequencies on categorical data.

In [4]:
Freq_Month <- table(Wave_one_data$IMONTH)
names(Freq_Month) <-c("Januaray","April", "May","June", "July", "August", "September", "October", "Novemeber", "December")
Freq_Month

 Januaray     April       May      June      July    August September   October
        3        92      1593      1810      1300      1102       438       117
Novemeber  December
       31        18

In [ ]:
ftable()

In [5]:
Freq_Month_prop<-prop.table(Freq_Month)
Freq_Month_prop

    Januaray        April          May         June         July       August
0.0004612546 0.0141451415 0.2449261993 0.2782902829 0.1998769988 0.1694341943
   September      October    Novemeber     December
0.0673431734 0.0179889299 0.0047662977 0.0027675277

In [7]:
FM<- rbind(Freq_Month, Freq_Month_prop)
FM

                Januaray     April       May          June         July
Freq_Month      3.0000000000 92.00000000 1593.0000000 1810.0000000 1300.000000
Freq_Month_prop 0.0004612546  0.01414514    0.2449262    0.2782903    0.199877
                August       September    October      Novemeber
Freq_Month      1102.0000000 438.00000000 117.00000000 31.000000000
Freq_Month_prop    0.1694342   0.06734317   0.01798893  0.004766298
                December
Freq_Month      18.000000000
Freq_Month_prop  0.002767528